.col {
    margin-top: 40px;
}

.product {
    margin-left: 90px;
}

.text-muted {
    margin-left: 100px;
}

.value {
    margin-left: 90px;
}

.qua {
    margin-left: 100px;
}

.page-title {
    font-size: 10px;
}

.base {
    font-size: 20px;
}