/* .card {
.mycard {
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
} */

.cardds {
    margin-top: 30px;
}

.card-bb {
    width: 50%;
    margin-top: 40px;
    margin-left: 50px;
}

.card-a {
    width: 50%;
    margin-top: 40px;
    margin-left: 50px;
}

.edit {
    margin-left: 30rem;
}

.button {
    margin-top: 20px
}

.imggg {
    width: 20%;
}

.card-b {
    margin-left: 20%;
    margin-top: -140px;
}

.zab8Yh .nZz3kj ._1uc2IE {
    width: var(--cart-item-image-width);
    text-align: center;
    display: inline-block;
}

.quantity {
    font-size: 20px;
}

.card-c {
    width: 20rem;
    margin-left: 60rem;
}

.card-a {
    margin-top: -11%;
}

.strong {
    margin-left: 6rem;
}